<div class="card border-dark text-white bg-info mx-5 text-center" style="max-width: 18rem;">
  <div class="card-header">
    <h3 class="card-title font-weight-bold text-dark">{{food.name}}</h3>
  </div>
  <div class="card-body">
    <p class="card-text text-justify">{{food.description}}</p>
  </div>
  <span class="card-title col-md-auto border border-light m-2 rounded p-2 font-weight-bold text-center">{{food.price}},- forint</span>
  <a class="btn btn-primary m-1" (click)="addToCart()">Add to cart</a>
</div>
